@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #f3f3f3;
  /* Corporate text color */
  background-color: #0f0f0f;
  /* Corporate background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0f0f0f;
  color: #f3f3f3;
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media print {

  aside,
  button,
  .no-print {
    display: none !important;
  }

  main {
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    background: white !important;
    color: black !important;
  }

  .shadow-sm,
  .shadow-lg {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }
}